---
import A from './A.astro';
import TagsDate from './TagsDate.astro';

interface Props {
	id: string;
	title: string;
	genre: string;
	tags: string[];
	date: string;
}
const {id, title, genre, tags, date} = Astro.props;
---

<div class="post-link">
	<div class="title">
		<A href={`/posts/${id}`}>{title}</a>
	</div>
	<TagsDate genre={genre} tags={tags} date={date} />
</div>
<style>
	.post-link {
		margin-bottom: 1rem;
		.title {
			/* 600px:1.25 800px:1.5 */
			font-size: clamp(1.25rem, 0.5rem + 2vw, 1.5rem);
			font-weight: bold;
		}
	}
	.post-link::-webkit-scrollbar {
		display: none;
	}
</style>
